

<style>
    body			{  background:#F2F2F2;}
    div#cajasolapa	{  background:#F2F2F2; border:0; margin:0; text-align:center;}
    div#footer		{  background-color: #F2F2F2; }
    div.caj-log		{
        background:transparent url(images/form-log-bg.png) no-repeat left top;
        margin: 130px auto 0 auto;
        padding: 70px  0 85px 0;
        width: 440px;
    }
    div.caj-log h1	{
        font-size:22px; text-align:center; margin-bottom:25px;
    }
    div.caj-log p	{
        font-size:13px;
        line-height:20px;
        margin-bottom:15px;
    }
    div.caj-log table	{
        width:360px;
        margin:0 auto;
    }
</style>


<div class="caj-log">
    <h1>Sin autorización</h1>
    <table border="0">
        <thead>
        <tr><th colspan="2" style="text-align:left;font-weight:normal;margin-bottom:12px"></th>
        </tr></thead>
        <tbody>
        <tr>
            <td>
                <p>Su usuario no tiene registrado acceso para la sección que ha intentado acceder</p>

                <p>Para acceder a la aplicación, por favor use el <a href="login.php" class="textlink">formulario de acceso</a></p>
            </td>
        </tr>
        </tbody>
    </table>
</div>